FIREBASE_SERVICE_ACCOUNT_JSON=<one-line JSON of the service account>
STORAGE_BUCKET=workhub-c288f.firebasestorage.app
IMG_GEN_API_BASE=https://img-gen-api.sikasio.com
IMG_GEN_API_KEY=<img-gen-api key>
